rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	// make authentication required as a general rule of thumb
    match /{document=**} {
    	allow read: if request.auth != null;
      allow write, update, delete: if false;
    }
  
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }
    
    match /surfHeats/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }
  }
}